# *Exercise 1*

Name your file: MonthNames.py
Write a program that reads an integer value between 1 and 12 from the user and prints output the corresponding month of the year.
An example run of the program (numbers in bold are typed in by the user)
Enter the month: 3
Month 3 is March

In [ ]:
months = ["January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"]

month_number = int(input("Enter the month (1-12): "))
if 1 <= month_number <= 12:

    print(f"Month {month_number} is {months[month_number - 1]}")
else:
    print("Invalid input. Please enter a number between 1 and 12.")

Enter the month (1-12): 6
Month 6 is June

# *Exercise 2*

A certain cinema currently sells tickets for a full price of 6 pounds, but always sells tickets for half price to people who are less than 16 years old, and for a third of the price for people who are 60 years old or more.
An example run of the program (numbers in bold are typed in by the user)
Enter your age: 63
Your ticket costs £2.00

In [ ]:
full_price = 6.0
age = int(input("Enter your age: "))
if age < 16:
    ticket_price = full_price / 2
elif age >= 60:
    ticket_price = full_price / 3
else:
    ticket_price = full_price

print(f"Your ticket costs £{ticket_price:.2f}")

Enter your age: 32
Your ticket costs £6.00

# ***Exercise 3***

Write a program to calculate your BMI and give weight status. Body Mass Index (BMI) is an internationally used measurement to check if you are a healthy weight for your height.The metric BMI formula accepts weight in kilograms and height in meters:
BMI= weight(kg)/height2(m2)
BMI Weight Status Categories table
BMI range - kg/m2   Category
Below 18.5                    Underweight
18.5 -24.9         Normal
25 - 29.9          Overweight
30 & Above     Obese
An example run of the program (numbers in bold are typed in by the user)
Enter your weight in (kg): 75
Enter your height in (m): 1.70
Your BMI is: 25.95
You are in the “overweight” range.

In [ ]:
weight = float(input("Enter your weight in (kg): "))
height = float(input("Enter your height in (m): "))
bmi = weight / (height ** 2)
if bmi < 18.5:
    category = "underweight"
elif 18.5 <= bmi < 25:
    category = "normal"
elif 25 <= bmi < 30:
    category = "overweight"
else:
    category = "obese"

print(f"Your BMI is: {bmi:.2f}")
print(f"You are in the \"{category}\" range.")

Enter your weight in (kg): 77
Enter your height in (m): 176
You are in the "underweight" range.

# ***Exercise 4***

Write a Python program to receive 3 numbers from the user and print the greatest among them.

In [ ]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))
if num1 >= num2 and num1 >= num3:
    greatest = num1
elif num2 >= num1 and num2 >= num3:
    greatest = num2
else:
    greatest = num3

print(f"The greatest number is: {greatest}")

Enter the first number: 20
Enter the second number: 27
Enter the third number: 23
The greatest number is: 27.0

# ***Exercise 5***

Find the factorial of a given number using loops(note the number is received from the user)

In [ ]:
num = int(input("Enter a number: "))
factorial = 1
if num < 0:
    print("Factorial is not defined for negative numbers.")
else:
    for i in range(1, num + 1):
      factorial *= i
print(f"The factorial of {num} is: {factorial}")

Enter a number: 5
The factorial of 5 is: 120

# ***Exercise 6***

Reverse a number using while loop

In [ ]:
num = int(input("Enter a number: "))
reversed_num = 0
original_num = num
while num != 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10

print(f"The reverse of {original_num} is: {reversed_num}")

Enter a number: 12345
The reverse of 12345 is: 54321

# ***Exercise 7***

Finding the multiples of a number using loop

In [ ]:
num = int(input("Enter a number: "))
count = int(input("Enter how many multiples you want: "))
print(f"The first {count} multiples of {num} are:")
for i in range(1, count + 1):
    print(num * i)

Enter a number: 7
Enter how many multiples you want: 5
The first 5 multiples of 7 are:
7
14
21
28
35

# ***Exercise 8***

Write a program to print the inputted value as it is and break the loop if the value is 'done'.
Example run of the program
:hello there
hello there
:finished
finished
:done
Done

In [ ]:
while True:
   user_input = input(":")
   if user_input.lower() == "done":
     print("Done")
     break
print(user_input)

:hello there
:done
Done
done

# ***Exercise 9***

Write a program that prints the numbers from 1 to 10. But for multiples of three print "Fizz" instead of the number and for the multiple of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz"

In [ ]:
for num in range(1, 11):
  if num % 3 == 0 and num % 5 == 0:
        print("FizzBuzz")
  elif num % 3 == 0:
        print("Fizz")
  elif num % 5 == 0:
        print("Buzz")
  else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz

# *Exercise 10*

Write a program to print the following pattern:

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
for i in range(5, 0, -1):
  for j in range(i, 0, -1):
        print(j, end=" ")
print()

5 4 3 2 1 4 3 2 1 3 2 1 2 1 1